.loginBox {
    height: auto;
    width: 60vw;
    background-color: #011936FF;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: solid #da9550d6;
    padding: 15 px;
    font-size: large;

}

.surroundings {
    width: 100vw;
    height: 100vh;
    box-shadow: 0 1px 300px 0 rgba(0, 0, 0, 0.2), 0 1px 300px 0 rgba(0, 0, 0, 0.2) inset;
}

.navLogo {
    height: 15vh;
    image-rendering: optimizeQuality;
}


input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #ac7b20;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    color: #DFBF84;
}

.otherOptions {
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    .navLogo {
        display: block;
        width: 200px;
        height: auto;
        margin: auto;
    }

    .loginBox {
        width: 85vw;
        height: 90vh;
    }
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}