body{
    background-color: rgb(158, 30, 56);
    margin: 0;
    padding: 0;
}
nav{
    display: inline-block;
    position: fixed;
    top:0;
    left:0;
    background-color: #011936FF;
    width: 100%;
    height: 17vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;

}


.NavIcon{
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 35%;
    vertical-align: middle;
    margin-right: 20px;
}
.navlogo{
    float: left;
    display: block;
    position: relative;
    height: 16vh;  
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #011936FF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenav a.active{
      color: white;
  }
  /* Slideshow container */
.slideshow-container {
    width: 100%;
    padding: 0;
    margin-top: 17vh;
    text-align: center;
    z-index: 10;
    
  }
  
  .slideshowImage{
      height: 45vh;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 5px;
    width: 5px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  @media (min-width: 1200px) {
      .slideshowImage{
          width: auto;
      }
  }
h1 { 
    color: #fff;
     font-family: 'Righteous', cursive;
    font-size: 65px; font-weight: normal; 
    line-height: 60px; margin: 10px 0 20px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 0 #000; 
    margin: 10px 0 24px; 
    text-align: center; 
}


h2 { 
    font-size: 30px; 
    letter-spacing: -1px; 
    color: #DFBF84; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000; 
    margin: 10px 0 24px; 
    text-align: center; 
    line-height: 50px; 
}


p { 
    color: #f6f6f6; 
    font-family: 'Orienta', sans-serif; 
    font-size: 16px; line-height: 24px; 
    margin: 0 0 24px; 
    text-align: center; 
}
li {
  color: #f6f6f6; 
    font-family: 'Orienta', sans-serif; 
    font-size: 16px; line-height: 24px; 
    margin: 0 0 12px; 
    
}


a { 
    color: #e8d4a7; 
    text-decoration: none; 
    text-align: right;  
    font-size: 16px; 
}


a:hover { 
    color: #da9650; 
    text-decoration: blink; 
}
.firstDiv{
    margin-top: 17vh;
}
.committees{
  position: relative;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}
.committeesTitle{
  height: auto;
  width: 100vw;
  background-color:#011936FF ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.committeesCard{
  
  position: relative;
  background-color: #011936FF;
  width: 80%;
  height: auto;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;
}
.dropdown-content img {
  width: 40vw;
  height: auto;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content-img {
  width: 40vw;
  height: auto;
  z-index: 1;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
.sponsorLogo{
  width: 80%;
  height: auto;
}
.sponsorsCard{
  
  position: relative;
  background-color: #011936FF;
  width: 80%;
  height: 250px;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

